


.container{
    margin-top: 30px;
    scroll-behavior: smooth;
}

.title{
    font-size: 96px;
    
}

.post{
    scroll-behavior: smooth;
    margin-top: 60px;
    display: flex;
    flex-direction: center;
    gap: 50px;
}

.imgContainer{
    flex: 1;
    height: 430px;
    position: relative;
}

.textContainer{
    flex: 1;
    
}